<nav>
  <div class="left">
    <h3>Nedas Budrys JS</h3>
  </div>
  <div class="right">
    <ul>
      <li><a href="../Task 1/Index.html">Task 1</a></li>
      <li><a href="../Task 2/Index.html">Task 2</a></li>
      <li><a href="../Task 3/Index.html">Task 3</a></li>
      <li><a href="../Task 4/Index.html">Task 4</a></li>
      <li><a href="../Task 5/Index.html">Task 5</a></li>
      <li><a href="../Task 6/Index.html">Task 6</a></li>
      <li><a href="../Task 7/Index.html">Task 7</a></li>
      <li><a href="../Task 8/Index.html">Task 8</a></li>
      <li><a href="../Task 9/Index.html">Task 9</a></li>
      <li><a href="../Task 10/Index.html">Task 10</a></li>
    </ul>
  </div>
</nav>
